body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: seashell;
    opacity: 0.9;
    font-size: 22px;
    height: 2500px;
}

header{
    display: flex;
    position: fixed;
    flex-direction: row;
    width: 100%;
    height: 69px;
    padding: 10px;
    border-bottom: 1px solid seashell;
    align-items: center; 
    background-color: black;  
}

nav{
    text-decoration: underline;
    display: flex;
    flex-direction: row;
    gap: 25px;
    font-weight: bold;
    margin-left: auto;
    margin-right: 30px;
}

.heroSection{
    padding-top: 90px;
}

.heroSection, .missionOverlay, .teaMonthSection, .locationsSection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.missionOverlay{
    position: relative;
    top: -450px;
    background-color: black;
    width: 100%;
}

h2,h4{
    margin: 10px;
}

.teaOfMonthContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teasContainer{
    width: 1000px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-top: 15px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 80px;
}

#locationsHeadline{
    position: relative;
    top:-450px;
}

.locationsContainer{
    display: flex;
    gap: 40px;
    position: relative;
    top: -435px;
}

.singleLocationContainer{
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    background-color: black;
    align-items: center;
}

footer{
    position: relative;
    top: -280px;
}

.footerContainer{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 100%;
    justify-content: center;
    align-items: center; 
}

.alignLeft{
    align-items: flex-start;
    margin-left: 20px;
}